// Here you can add other styles

.c-app {
  //background-color: black !important;
  background-image: url('/public/img/custom_img/4.png');
  background-repeat: repeat;
  background-position: center;
}





